.venv/
dataset/
models/__pycache__
models/test.py
models/train.py
models/training_utils.py
models/VideoAutoClipperBase.pt
models/VideoAutoClipper.pt
models/mfcc_scaler.joblib
output.log
quantize_model.py
package-distributions.bat